{{ set(this, 'title', 'Наш блог') }}
    <!-- start: Blog -->
	<div id="blog" class="color white">
		
		<!--start: Container -->
		<div class="container">

			<!--start: Wrapper -->
			<div class="wrapper span12">

				<!-- start: Page Title -->
                <div id="page-title">

                    <div id="page-title-inner">

		                <h2><span>Наш блог</span></h2>

                    </div>	

                </div>
                <!-- end: Page Title -->

                <!-- start: Row -->
                <div class="row-fluid">
	
	                <div class ="span12">
		
		                <!-- start: Team -->	
		                <div id="team">
						
			                <!-- start: Row -->
			                <div class="row-fluid">
			
				                <!-- start: About Member -->
				                <div class="span3">
					                <div class="avatar">
						                <img class="img-circle" src="{{ Url.base(true) }}/img/open.jpg" alt="team member">
					                </div>	
					                <div class="team-name">Скоро открытие</div>
					                <div class="position"></div>
					                <p>
						                Мы скоро откроемся. Это очень знаменательный день для нас.
					                </p>
					                <div class="social_profiles">
						                <ul class="social-bookmarks">
							                <li class="facebook"><a href="">facebook</a></li>
							                <li class="flickr"><a href="">flickr</a></li>
							                <li class="linkedin"><a href="#">linkedin</a></li>
							                <li class="twitter"><a href="#">twitter</a></li>
						                </ul>
					                </div>	
				                </div>
				                <!-- end: About Member -->
				
				                <hr class="clean visible-phone">

				                <!-- start: About Member -->
				                <div class="span3">
					                <div class="avatar">
						                <img class="img-circle" src="{{ Url.base(true) }}/img/blog/christian-louboutin.png" alt="team member">
					                </div>	
					                <div class="team-name">Нашу фабрику посетил Кристиан Лубутен</div>
					                <div class="position"></div>
					                <p>
						                Кристиан Лубутен — французский дизайнер-модельер обуви. Отличительный знак обуви Лубутена — красная подошва туфель. В моделях обуви использует экзотические породы кожи, стразы Swarovski, кружево ручной работы.
					                </p>
					                <div class="social_profiles">
						                <ul class="social-bookmarks">
							                <li class="facebook"><a href="#">facebook</a></li>
							                <li class="flickr"><a href="#">flickr</a></li>
							                <li class="linkedin"><a href="#">linkedin</a></li>
							                <li class="twitter"><a href="#">twitter</a></li>
						                </ul>
					                </div>	
				                </div>
				                <!-- end: About Member -->
				
				                <hr class="clean visible-phone">
				
				                <!-- start: About Member -->
				                <div class="span3">
					                <div class="avatar">
						                <img class="img-circle" src="{{ Url.base(true) }}/img/portfolio/t6.jpg" alt="team member">
					                </div>	
					                <div class="team-name">Новые тапки</div>
					                <div class="position"></div>
					                <p>
						                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
					                </p>
					                <div class="social_profiles">
						                <ul class="social-bookmarks">
							                <li class="facebook"><a href="">facebook</a></li>
							                <li class="flickr"><a href="">flickr</a></li>
							                <li class="linkedin"><a href="#">linkedin</a></li>
							                <li class="twitter"><a href="#">twitter</a></li>
						                </ul>
					                </div>	
				                </div>
				                <!-- end: About Member -->
				
				                <hr class="clean visible-phone">

				                <!-- start: About Member -->
				                <div class="span3">
					                <div class="avatar">
						                <img class="img-circle" src="{{ Url.base(true) }}/img/team_member.jpg" alt="team member">
					                </div>	
					                <div class="team-name">Lucas Luck</div>
					                <div class="position">Co-Founder, CEO</div>
					                <p>
						                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
					                </p>
					                <div class="social_profiles">
						                <ul class="social-bookmarks">
							                <li class="facebook"><a href="">facebook</a></li>
							                <li class="flickr"><a href="">flickr</a></li>
							                <li class="linkedin"><a href="#">linkedin</a></li>
							                <li class="twitter"><a href="#">twitter</a></li>
						                </ul>
					                </div>	
				                </div>
				                <!-- end: About Member -->
				
				                <hr class="clean visible-phone">	
			
			                </div>
			                <!-- end: Row -->

		                </div>
		                <!-- end: Team -->
		
	                </div>	
	
                </div>	
                <!-- end: Row -->
			</div>
			<!-- end: Wrapper -->
		
		</div>
		<!--end: Container -->
		
	</div>
	<!-- end: Blog -->
