{{ set(this, 'title', 'Каталог товаров') }}
    <!-- start: Catalog -->
	<div id="catalog" class="color white">
		
		<!--start: Container -->
		<div class="container">

			<!--start: Wrapper -->
			<div class="wrapper span12">
	
			<!-- start: Page Title -->
			<div id="page-title">

				<div id="page-title-inner">

					<h2><span>Каталог</span></h2>

				</div>	

			</div>
			<!-- end: Page Title -->
			
			<!-- start: Flexslider -->
			<div class="slider">
				<div id="flex1" class="flexslider">
					<ul class="slides">

						<li><div class="picture"><img src="{{ Url.base(true) }}/img/slider/slider1.jpg" alt="" /></div></li>

						<li><div class="picture"><img src="{{ Url.base(true) }}/img/slider/slider2.jpg" alt="" /></div></li>

						<li><div class="picture"><img src="{{ Url.base(true) }}/img/slider/slider3.jpg" alt="" /></div></li>

					</ul>
				</div>
			</div>
			<!-- end: Flexslider -->

			<div id="filters">
				<ul class="option-set" data-option-key="filter">
					<li><a href="#filter" class="selected" data-option-value="*">All</a></li>
					<li>/</li>
					<li><a href="#filter" data-option-value=".woman">Женские тапочки</a></li>
					<li>/</li>
					<li><a href="#filter" data-option-value=".man">Мужские тапочки</a></li>
					<li>/</li>
					<li><a href="#filter" data-option-value=".child">Детские</a></li>
					<li>/</li>
				</ul>
			</div>

			<!-- start: Portfolio -->
			<div id="portfolio-wrapper" class="row-fluid">
								
				<div class="span4 portfolio-item man">
					
					<div class="picture"><a href="#" title="Smart Responsive Template"><img src="{{ Url.base(true) }}/img/portfolio/t1.jpg" alt=""/><div class="image-overlay-link"></div></a>
					
						<div class="item-description alt">
							<h5><a href="#">Smart Maxi</a></h5>
							<p>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
							</p>
						</div>
					</div>	
				</div>

				<div class="span4 portfolio-item man">
					<div class="picture">
						<a href="#" title="Title"><img src="{{ Url.base(true) }}/img/portfolio/t2.jpg" alt=""/><div class="image-overlay-link"></div></a>
							<div class="item-description alt">
								<h5><a href="#">Great Responsive Bootstrap Template</a></h5>
								<p>
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
							</p>
						</div>
					</div>
				</div>

				<div class="span4 portfolio-item child">
					<div class="picture"><a href="#" title="Title"><img src="{{ Url.base(true) }}/img/portfolio/t3.jpg" alt=""/><div class="image-overlay-link"></div></a>
						<div class="item-description alt">
							<h5><a href="#">Magnus Responsive Bootstrap Template</a></h5>
							<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
							</p>
						</div>	
					</div>
				</div>

				<div class="span4 portfolio-item child">
					<div class="picture"><a href="#" title="Title"><img src="{{ Url.base(true) }}/img/portfolio/t4.jpg" alt=""/><div class="image-overlay-link"></div></a>
						<div class="item-description alt">
							<h5><a href="#">Optimus Dashboard Bootstrap Template</a></h5>
							<p>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
							</p>
						</div>
					</div>
				</div>

				<div class="span4 portfolio-item woman">
					<div class="picture"><a href="#" title="Title"><img src="{{ Url.base(true) }}/img/portfolio/t5.jpg" alt=""/><div class="image-overlay-link"></div></a>
						<div class="item-description alt">
							<h5><a href="#">Perfectum Dashboard Bootstrap Template</a></h5>
							<p>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
							</p>
						</div>
					</div>
				</div>

				<div class="span4 portfolio-item man">
					<div class="picture"><a href="#"><img src="{{ Url.base(true) }}/img/portfolio/t6.jpg" alt=""/><div class="image-overlay-link"></div></a>
						<div class="item-description alt">
							<h5><a href="#">Red Box Responsive Bootstrap Template</a></h5>
							<p>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
							</p>
						</div>
					</div>
				</div>

			</div>
			<!-- end: Portfolio -->
			</div>
			<!-- end: Wrapper -->
		
		</div>
		<!--end: Container -->
		
	</div>
	<!-- end: Catalog -->
